In [176]:
library(class)
library(dplyr)

In [177]:
Dataset_prime <- read.csv("/Users/Amardeep/Documents/Semester_2/Dic/lab_3/german_credit_data1.csv")
head(Dataset_prime)

  X. Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
1 0  67  male   2   own     NA              little           1169
2 1  22  female 2   own     little          moderate         5951
3 2  49  male   1   own     little          NA               2096
4 3  45  male   2   free    little          little           7882
5 4  53  male   2   free    little          little           4870
6 5  35  male   1   free    NA              NA               9055
  Duration Purpose             Credit.Risks
1  6       radio/TV            1
2 48       radio/TV            2
3 12       education           1
4 42       furniture/equipment 1
5 24       car                 2
6 36       education           1

In [178]:
Dataset <- na.omit(Dataset_prime)
head(Dataset)

   X. Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
2   1 22  female 2   own     little          moderate         5951
4   3 45  male   2   free    little          little           7882
5   4 53  male   2   free    little          little           4870
8   7 35  male   3   rent    little          moderate         6948
10  9 28  male   3   own     little          moderate         5234
11 10 25  female 2   rent    little          moderate         1295
   Duration Purpose             Credit.Risks
2  48       radio/TV            2
4  42       furniture/equipment 1
5  24       car                 2
8  36       car                 1
10 30       car                 2
11 12       car                 2

In [179]:
Sex <- levels(Dataset$Sex)
Sex

[1] "female" "male"

In [180]:
Purpose <- levels(Dataset$Purpose)
Purpose

[1] "business"            "car"                 "domestic appliances"
[4] "education"           "furniture/equipment" "radio/TV"
[7] "repairs"             "vacation/others"

In [181]:
Dataset$Sex_val <- factor(Dataset$Sex, labels=c(1,2))
head(Dataset)

   X. Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
2   1 22  female 2   own     little          moderate         5951
4   3 45  male   2   free    little          little           7882
5   4 53  male   2   free    little          little           4870
8   7 35  male   3   rent    little          moderate         6948
10  9 28  male   3   own     little          moderate         5234
11 10 25  female 2   rent    little          moderate         1295
   Duration Purpose             Credit.Risks Sex_val
2  48       radio/TV            2            1
4  42       furniture/equipment 1            2
5  24       car                 2            2
8  36       car                 1            2
10 30       car                 2            2
11 12       car                 2            1

Assigning 1 to female and 2 to male in the coloumn Sex_val

In [182]:
Dataset$Purpose_vals <- factor(Dataset$Purpose, labels=c(1,2,3,4,5,6,7,8))
head(Dataset)

   X. Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
2   1 22  female 2   own     little          moderate         5951
4   3 45  male   2   free    little          little           7882
5   4 53  male   2   free    little          little           4870
8   7 35  male   3   rent    little          moderate         6948
10  9 28  male   3   own     little          moderate         5234
11 10 25  female 2   rent    little          moderate         1295
   Duration Purpose             Credit.Risks Sex_val Purpose_vals
2  48       radio/TV            2            1       6
4  42       furniture/equipment 1            2       5
5  24       car                 2            2       2
8  36       car                 1            2       2
10 30       car                 2            2       2
11 12       car                 2            1       2

Assigning the following numeric values to the various purposes as described below and creating an new coloumn called Purpose_vals.

1=Business, 2=Car, 3=Domestic appliances, 4=education, 5=Furniture/equipment, 6=radio/TV, 7=repairs, 8=Vacation/others

In [183]:
Housing <- levels(Dataset$Housing)
Housing
Saving_acc <- levels(Dataset$Saving.accounts)
Saving_acc
checking_acc <- levels(Dataset$Checking.account)
checking_acc

[1] "free" "own"  "rent"

[1] "little"     "moderate"   "quite rich" "rich"

[1] "little"   "moderate" "rich"

In [184]:
Dataset$Housing_vals <- factor(Dataset$Housing, labels=c(1,2,3))
Dataset$Saving_vals <- factor(Dataset$Saving.accounts, labels=c(1,2,4,3))
Dataset$Checking_vals <- factor(Dataset$Checking.account, labels=c(1,2,3))
head(Dataset)

   X. Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
2   1 22  female 2   own     little          moderate         5951
4   3 45  male   2   free    little          little           7882
5   4 53  male   2   free    little          little           4870
8   7 35  male   3   rent    little          moderate         6948
10  9 28  male   3   own     little          moderate         5234
11 10 25  female 2   rent    little          moderate         1295
   Duration Purpose             Credit.Risks Sex_val Purpose_vals Housing_vals
2  48       radio/TV            2            1       6            2
4  42       furniture/equipment 1            2       5            1
5  24       car                 2            2       2            1
8  36       car                 1            2       2            3
10 30       car                 2            2       2            2
11 12       car                 2            1       2            3
   Saving_vals Checking_vals
2  1           2
4  1           1
5  1           1
8  1           2
10 1           2
11 1           2

All the lines above dealt with converting character fields to numeric by specifying numbers to the levels of the coloumn.

In [185]:
total_rows <- nrow(Dataset)
output = data.frame()
head(output)

In [186]:
Dataset_final <- subset(Dataset, select = c(Age, Sex_val, Job, Housing_vals, Saving_vals, Checking_vals, Credit.amount, Duration, Purpose_vals))
# Dataset_final_1 <- scale(Dataset_final)
Dataset_final$Sex_val <- as.integer(Dataset_final$Sex_val)
Dataset_final$Housing_vals <- as.integer(Dataset_final$Housing_vals)
Dataset_final$Saving_vals <- as.integer(Dataset_final$Saving_vals)
Dataset_final$Checking_vals <- as.integer(Dataset_final$Checking_vals)
Dataset_final$Purpose_vals <- as.integer(Dataset_final$Purpose_vals)
sapply(Dataset_final, class)
Dataset_final <- scale(Dataset_final)
head(Dataset_final)

          Age       Sex_val           Job  Housing_vals   Saving_vals
    "integer"     "integer"     "integer"     "integer"     "integer"
Checking_vals Credit.amount      Duration  Purpose_vals
    "integer"     "integer"     "integer"     "integer"

   Age          Sex_val    Job       Housing_vals Saving_vals Checking_vals
2  -1.093398286 -1.4502090 0.1823654 -0.1444395   -0.4506841   0.5567678
4   0.857752104  0.6882348 0.1823654 -1.8978678   -0.4506841  -0.9569447
5   1.536413109  0.6882348 0.1823654 -1.8978678   -0.4506841  -0.9569447
8   0.009425847  0.6882348 1.6469000  1.6089888   -0.4506841   0.5567678
10 -0.584402532  0.6882348 1.6469000 -0.1444395   -0.4506841   0.5567678
11 -0.838900409 -1.4502090 0.1823654  1.6089888   -0.4506841   0.5567678
   Credit.amount Duration   Purpose_vals
2   0.9122954     2.1373056  1.0622872
4   1.5715298     1.6563082  0.5609184
5   0.5432470     0.2133159 -0.9431881
8   1.2526666     1.1753108 -0.9431881
10  0.6675149     0.6943133 -0.9431881
11 -0.6772414    -0.7486789 -0.9431881

Creating a new dataframe with Scaled and normalized fields to be used in knn.

In [187]:
for(s in c(0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.2, 0.1)){
    sampling_rate <- s # Sampling Rate
    total_labels <- total_rows * (1-sampling_rate)
    training <- sample(1:total_rows, sampling_rate * total_rows, replace=FALSE)
    training_data <- subset(Dataset_final[training,], select = c(Age, Sex_val, Job, Housing_vals, Saving_vals, Checking_vals, Credit.amount, Duration, Purpose_vals))
    #Creating Training Data
    testing <- setdiff(1:total_rows, training)
    testing_data <- subset(Dataset_final[testing, ], select = c(Age, Sex_val, Job, Housing_vals, Saving_vals, Checking_vals, Credit.amount, Duration, Purpose_vals))
    # Creating Testing Data
    Credit <- Dataset$Credit.Risks[training]
    Credit_true <- Dataset$Credit.Risks[testing]
    
    for (k in 1:20) {
        Credit_prediction <- knn(training_data, testing_data, Credit, k)
        # We're using the R function knn()
        total_incorrect_labels <- sum(Credit_prediction != Credit_true) 
        misclassification <- total_incorrect_labels / total_labels
        # Finding Misclassification and recording the values of the sampling rates, K and their 
        # respective misclassification in a data frame
        output = rbind(output, data.frame(s, k, misclassification))
    }
}

In [188]:
head(output)

  s   k misclassification
1 0.9 1 0.4597701
2 0.9 2 0.4980843
3 0.9 3 0.3639847
4 0.9 4 0.3065134
5 0.9 5 0.3448276
6 0.9 6 0.3639847

Here Output dataframe contains all the misclassification from sampling rates = .1 to .9 and k = 1 to 20
This Dataframe can be arranged and printed to find all the values. For example in the code below we sort the dataframe according to decreasing order of Misclassifications to find the best sampling rates and K values to use for prediction.

In [189]:
output <- output %>% arrange((misclassification))
head(output)

  s   k  misclassification
1 0.9 12 0.2681992
2 0.9 15 0.2681992
3 0.8 20 0.2777778
4 0.8  3 0.2873563
5 0.8 14 0.2969349
6 0.9  4 0.3065134

sampling rate and K for which the Misclassification rate is the least can be used to create a new Knn model which can be used to predict future data accurately.

In [192]:
Final <- output %>% arrange((k)) %>% arrange(s)
head(Final)

  s   k misclassification
1 0.1 1 0.4427416
2 0.1 2 0.4640272
3 0.1 3 0.3937846
4 0.1 4 0.4129417
5 0.1 5 0.4129417
6 0.1 6 0.4278416

In [ ]:
# write.csv(Final, "Url")

Writes a spreadsheet (csv) of all the misclassifications from sampling rates = .1 to .9 and k = 1 to 20

Please specify URL and uncomment the line.

In [ ]:
# Write.csv(output, "Url")

Writes a spreadsheet (csv) ordered by misclassification rates in increasing order, Helpful for choosing ideal sampling and k values.
Please specify URL and uncomment the line.