In [3]:
# install.packages('nycflights13',repos="http://cran.us.r-project.org/")

# install.packages('RPostgreSQL',repos="http://cran.us.r-project.org/")

install.packages('RPostgres',repos="http://cran.us.r-project.org/")

Warning message:
“package ‘RPostgres’ is not available (for R version 3.3.2)”

Cannot work through postgresql. Followed the same steps as given in https://piazza.com/class/iyg1btjjihw1a6?cid=129 still to no avail.

In [4]:
library(nycflights13)
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [5]:
flights_db <- tbl(nycflights13_sqlite(), "flights")
flights_db

Caching nycflights db at /var/folders/6v/k9nv_ccx7qs58wqq65w2_5300000gn/T//RtmpCp06dg/nycflights13.sqlite
Creating table: airlines
Creating table: airports
Creating table: flights
Creating table: planes
Creating table: weather

Source:   query [?? x 19]
Database: sqlite 3.11.1 [/var/folders/6v/k9nv_ccx7qs58wqq65w2_5300000gn/T//RtmpCp06dg/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [6]:
select(flights_db, year:day, dep_delay, arr_delay)

Source:   query [?? x 5]
Database: sqlite 3.11.1 [/var/folders/6v/k9nv_ccx7qs58wqq65w2_5300000gn/T//RtmpCp06dg/nycflights13.sqlite]

    year month   day dep_delay arr_delay
   <int> <int> <int>     <dbl>     <dbl>
1   2013     1     1         2        11
2   2013     1     1         4        20
3   2013     1     1         2        33
4   2013     1     1        -1       -18
5   2013     1     1        -6       -25
6   2013     1     1        -4        12
7   2013     1     1        -5        19
8   2013     1     1        -3       -14
9   2013     1     1        -3        -8
10  2013     1     1        -2         8
# ... with more rows

In [7]:
filter(flights_db, dep_delay > 280)

Source:   query [?? x 19]
Database: sqlite 3.11.1 [/var/folders/6v/k9nv_ccx7qs58wqq65w2_5300000gn/T//RtmpCp06dg/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      848           1835       853     1001           1950
2   2013     1     1     1815           1325       290     2120           1542
3   2013     1     1     2205           1720       285       46           2040
4   2013     1     1     2343           1724       379      314           1938
5   2013     1     2     1412            838       334     1710           1147
6   2013     1     2     1607           1030       337     2003           1355
7   2013     1     2     2131           1512       379     2340           1741
8   2013     1     3     2056           1605       291     2239           1754
9   2013     1     4     2123           1635       288     2332           1856
10  2013     1     5     1344            817       327     1635           1127
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [8]:
arrange(flights_db, year, month, day)

Source:   query [?? x 19]
Database: sqlite 3.11.1 [/var/folders/6v/k9nv_ccx7qs58wqq65w2_5300000gn/T//RtmpCp06dg/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [9]:
mutate(flights_db, arr_delay = arr_time - sched_arr_time)

Source:   query [?? x 19]
Database: sqlite 3.11.1 [/var/folders/6v/k9nv_ccx7qs58wqq65w2_5300000gn/T//RtmpCp06dg/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: carrier <chr>, flight <int>,
#   tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dbl>, arr_delay <int>

In [10]:
summarise(flights_db, delay = mean(dep_delay))

Source:   query [?? x 1]
Database: sqlite 3.11.1 [/var/folders/6v/k9nv_ccx7qs58wqq65w2_5300000gn/T//RtmpCp06dg/nycflights13.sqlite]

     delay
     <dbl>
1 12.63907

In [14]:
a1 <- filter(flights_db, year == 2013, month == 4, day == 6)
a2 <- select(a1, year, month, day, carrier, dep_delay, air_time, distance)
a3 <- mutate(a2, speed = distance / air_time * 60)
a4 <- arrange(a3, year, month, day, carrier)

In [15]:
a4
collect(a4)

Source:   query [?? x 8]
Database: sqlite 3.11.1 [/var/folders/6v/k9nv_ccx7qs58wqq65w2_5300000gn/T//RtmpCp06dg/nycflights13.sqlite]

    year month   day carrier dep_delay air_time distance    speed
   <int> <int> <int>   <chr>     <dbl>    <dbl>    <dbl>    <dbl>
1   2013     4     6      9E        -7       92      509 331.9565
2   2013     4     6      9E       -12       68      340 300.0000
3   2013     4     6      9E        -4       95      636 401.6842
4   2013     4     6      9E        -6      122      740 363.9344
5   2013     4     6      9E        26      162     1029 381.1111
6   2013     4     6      9E        -4       69      427 371.3043
7   2013     4     6      9E        -6       88      488 332.7273
8   2013     4     6      9E         9       35      187 320.5714
9   2013     4     6      9E        -5       49      264 323.2653
10  2013     4     6      9E        -6       27       94 208.8889
# ... with more rows

    year month day carrier dep_delay air_time distance speed
1   2013 4     6   9E       -7        92       509     331.9565
2   2013 4     6   9E      -12        68       340     300.0000
3   2013 4     6   9E       -4        95       636     401.6842
4   2013 4     6   9E       -6       122       740     363.9344
5   2013 4     6   9E       26       162      1029     381.1111
6   2013 4     6   9E       -4        69       427     371.3043
7   2013 4     6   9E       -6        88       488     332.7273
8   2013 4     6   9E        9        35       187     320.5714
9   2013 4     6   9E       -5        49       264     323.2653
10  2013 4     6   9E       -6        27        94     208.8889
11  2013 4     6   9E       -3        34       187     330.0000
12  2013 4     6   9E      -10        91       585     385.7143
13  2013 4     6   9E      317        38       184     290.5263
14  2013 4     6   9E      -12       148      1008     408.6486
15  2013 4     6   9E       -4        36       187     311.6667
16  2013 4     6   9E       -4        52       290     334.6154
17  2013 4     6   9E       -7        39       213     327.6923
18  2013 4     6   9E       -4        45       228     304.0000
19  2013 4     6   9E      -18        51       264     310.5882
20  2013 4     6   9E       32        55       301     328.3636
21  2013 4     6   9E       -3       103       665     387.3786
22  2013 4     6   9E       -7       122       740     363.9344
23  2013 4     6   9E       -2        66       340     309.0909
24  2013 4     6   9E       18       196      1391     425.8163
25  2013 4     6   9E        0        74       427     346.2162
26  2013 4     6   9E        3       121       745     369.4215
27  2013 4     6   9E       21        28        94     201.4286
28  2013 4     6   9E       32        36       187     311.6667
29  2013 4     6   9E       43       108       765     425.0000
30  2013 4     6   9E       52       155      1029     398.3226
⋮   ⋮    ⋮     ⋮   ⋮       ⋮         ⋮        ⋮        ⋮
741 2013 4     6   VX       5        335      2475     443.2836
742 2013 4     6   WN      -3        110       711     387.8182
743 2013 4     6   WN      -1        132       888     403.6364
744 2013 4     6   WN      -2        202      1411     419.1089
745 2013 4     6   WN      -2        238      1620     408.4034
746 2013 4     6   WN       0        110       725     395.4545
747 2013 4     6   WN       0        132       872     396.3636
748 2013 4     6   WN       8        115       748     390.2609
749 2013 4     6   WN      -5        112       764     409.2857
750 2013 4     6   WN      -1        231      1605     416.8831
751 2013 4     6   WN      -3        163      1167     429.5706
752 2013 4     6   WN      -1        115       738     385.0435
753 2013 4     6   WN      -4        114       725     381.5789
754 2013 4     6   WN      -3        116       711     367.7586
755 2013 4     6   WN      -2        217      1504     415.8525
756 2013 4     6   WN      -5        113       748     397.1681
757 2013 4     6   WN      -3        114       738     388.4211
758 2013 4     6   WN      -2        301      2133     425.1827
759 2013 4     6   WN      -1        112       764     409.2857
760 2013 4     6   WN       4        110       725     395.4545
761 2013 4     6   WN      -3        135       888     394.6667
762 2013 4     6   WN      -3        110       711     387.8182
763 2013 4     6   WN      18        226      1605     426.1062
764 2013 4     6   WN      -2        133       872     393.3835
765 2013 4     6   WN      -5        112       725     388.3929
766 2013 4     6   WN      -6        107       711     398.6916
767 2013 4     6   WN      -2        230      1620     422.6087
768 2013 4     6   WN      -5        112       725     388.3929
769 2013 4     6   WN      -6        111       711     384.3243
770 2013 4     6   YV      -9         82       544     398.0488

In [16]:
a4$query
explain (a4)

NULL

<SQL>
SELECT *
FROM (SELECT `year`, `month`, `day`, `carrier`, `dep_delay`, `air_time`, `distance`, `distance` / `air_time` * 60.0 AS `speed`
FROM (SELECT `year` AS `year`, `month` AS `month`, `day` AS `day`, `carrier` AS `carrier`, `dep_delay` AS `dep_delay`, `air_time` AS `air_time`, `distance` AS `distance`
FROM (SELECT *
FROM `flights`
WHERE ((`year` = 2013.0) AND (`month` = 4.0) AND (`day` = 6.0)))))
ORDER BY `year`, `month`, `day`, `carrier`


<PLAN>
   addr       opcode p1    p2 p3           p4 p5 comment
1     0         Init  0    56  0              00      NA
2     1   SorterOpen  4     9  0       k(1,B) 00      NA
3     2     OpenRead  3   131  0           19 00      NA
4     3     OpenRead  5 22656  0     k(4,,,,) 02      NA
5     4         Real  0     1  0         2013 00      NA
6     5         Real  0     2  0            4 00      NA
7     6         Real  0     3  0            6 00      NA
8     7     Affinity  1     3  0          DDD 00      NA
9     8       SeekGE  5    36  1            3 00      NA
10    9        IdxGT  5    36  1            3 00      NA
11   10         Seek  5     0  3              00      NA
12   11       Column  5     0  8              00      NA
13   12       Column  5     1  9              00      NA
14   13       Column  5     2 10              00      NA
15   14       Column  3     9 11              00      NA
16   15       Column  3     5 12              00      NA
17   16 RealAffinity 12     0  0              00      NA
18   17       Column  3    14 13              00      NA
19   18 RealAffinity 13     0  0              00      NA
20   19       Column  3    15 14              00      NA
21   20 RealAffinity 14     0  0              00      NA
22   21       Divide 13    14 16              00      NA
23   22     Multiply 18    16 15              00      NA
24   23         Copy  8     4  0              00      NA
25   24         Copy  9     5  0              00      NA
26   25         Copy 10     6  0              00      NA
27   26         Copy 11     7  0              00      NA
28   27   MakeRecord  7     9 19              00      NA
29   28 SequenceTest  4    33  0              00      NA
30   29      Compare 20     4  3 k(4,B,B,B,B) 00      NA
31   30         Jump 31    34 31              00      NA
32   31        Gosub 23    40  0              00      NA
33   32  ResetSorter  4     0  0              00      NA
34   33         Move  4    20  3              00      NA
35   34 SorterInsert  4    19  0              00      NA
36   35         Next  5     9  1              00      NA
37   36        Close  3     0  0              00      NA
38   37        Close  5     0  0              00      NA
39   38        Gosub 23    40  0              00      NA
40   39         Goto  0    55  0              00      NA
41   40         Once  0    42  0              00      NA
42   41   OpenPseudo  6    24 10              00      NA
43   42   SorterSort  4    55  0              00      NA
44   43   SorterData  4    24  6              00      NA
45   44       Column  6     1  8              00      NA
46   45       Column  6     2  9              00      NA
47   46       Column  6     3 10              00      NA
48   47       Column  6     4 11              00      NA
49   48       Column  6     5 12              00      NA
50   49       Column  6     6 13              00      NA
51   50       Column  6     7 14              00      NA
52   51       Column  6     8 15              00      NA
53   52    ResultRow  8     8  0              00      NA
54   53   SorterNext  4    43  0              00      NA
55   54       Return 23     0  0              00      NA
56   55         Halt  0     0  0              00      NA
57   56  Transaction  0     0 16            0 01      NA
58   57    TableLock  0   131  0      flights 00      NA
59   58         Real  0    18  0           60 00      NA
60   59         Goto  0     1  0              00      NA

# translate_sql(Hello)
translate_sql("Hello")

translate_sql(x == 45 && (y < 78 || z > 4))
translate_sql(x ^ 3 < 98)
#> <SQL> POWER("x", 2.0) < 10.0
translate_sql(x %% 3 == 10)

In [17]:
# translate_sql(mean(x, trim = T)) # Produces error
translate_sql(glob(x, y))
translate_sql(x %like% "ab*")

<SQL> GLOB("x", "y")

<SQL> "x" LIKE 'ab*'

In [18]:
tailnum <- group_by(flights_db, tailnum)
delay <- summarise(tailnum,
  count = n(),
  dist = mean(distance),
  delay = mean(arr_delay)
)
delay <- filter(delay, count > 80, dist < 2500)
delay_local <- collect(delay)
head(delay_local)

  tailnum count dist     delay
1 NA      2512  710.2576        NA
2 N0EGMQ   371  676.1887  9.982955
3 N10156   153  757.9477 12.717241
4 N10575   289  519.7024 20.691450
5 N11106   129  771.4109 14.880952
6 N11107   148  705.8649 15.014388

## PostgreSQL

In [19]:
library(RPostgreSQL)
library(DBI)
library(RPostgres)

ERROR: Error in library(RPostgres): there is no package called ‘RPostgres’

In [20]:
flights_postgres <- tbl(src_postgres(dbname = "nycflights13"), "flights")

ERROR: Error in postgresqlNewConnection(drv, ...): RS-DBI driver: (could not connect Amardeep@local on dbname "nycflights13"
)

couldn't proceed past this step

As stated by Luigi Di Tacchio on piazza. "I am guessing you are going over the dplyr database tutorial and trying to run the code that's there. You need to create a PostgreSQL local database for the code to work. It is also stated in the tutorial:
 "For example, the following code allows me to connect to a local PostgreSQL database that contains a copy of the flights data:"
 
Anyways, I would recommend to work with SQLite for Lab 2.

I followed the steps given by the student in the post but it didn't work. As a consequnce I am using SQLlite for Lab 2.