In [1]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
Player <- read.csv("/Users/Amardeep/Documents/Semester_2/Dic/lab_2/player.csv")
Team <- read.csv("/Users/Amardeep/Documents/Semester_2/Dic/lab_2/team.csv")

Please provide the absolote paths of the player.csv files and team.csv files

### Q1 Which are the top 10 players by overall rating?

In [3]:
ovr_rating = data.frame(Player$player_name,Player$overall_rating)
#Create a new Data frame with relevant coloumns and rename it
colnames(ovr_rating) <- c("player_name", "overall_rating")
ovr_rating <- ovr_rating %>% arrange(desc(overall_rating))
#Sort Data frame in Decreasing order
head(ovr_rating, 10)
#List Top 10

   player_name       overall_rating
1  Lionel Messi      94
2  Cristiano Ronaldo 93
3  Gianluigi Buffon  93
4  Wayne Rooney      93
5  Gregory Coupet    92
6  Xavi Hernandez    92
7  Alessandro Nesta  91
8  Andres Iniesta    91
9  Fabio Cannavaro   91
10 Iker Casillas     91

### Q2 Which are the top 10 goalkeepers by sum of gk attributes?

In [4]:
gk_rating = data.frame(Player$player_name,Player$gk_rating)
#Create a new Data frame with relevant coloumns and rename it
colnames(gk_rating) <- c("player_name", "gk_rating")
gk_rating <- gk_rating %>% arrange(desc(gk_rating))
#Sort Data frame in Decreasing order
head(gk_rating, 10)
#List Top 10

   player_name       gk_rating
1  Gianluigi Buffon  449
2  Gregory Coupet    447
3  Petr Cech         445
4  Iker Casillas     442
5  Manuel Neuer      440
6  Julio Cesar       438
7  Sebastian Frey    437
8  Edwin van der Sar 436
9  David De Gea      429
10 Pepe Reina        428

### Q3 Which are the top 10 players by number of appearances (with any team they played with)?

In [5]:
total_appearances = data.frame(Player$player_name,Player$total_appearances)
#Create a new Data frame with relevant coloumns and rename it
colnames(total_appearances) <- c("player_name", "total_appearances")
total_appearances <- total_appearances %>% arrange(desc(total_appearances))
#Sort Data frame in Decreasing order
head(total_appearances, 10)
#List Top 10

   player_name          total_appearances
1  Steve Mandanda       300
2  Stephane Ruffier     294
3  Gorka Iraizoz Moreno 286
4  Samir Handanovic     286
5  Hugo Lloris          282
6  Tim Howard           282
7  Joe Hart             275
8  Cedric Carrasso      268
9  Daniel Congre        262
10 Moussa Sissoko       260

### Q4 Which are the top 10 players by number of leagues they played in?

In [6]:
league_appearances = data.frame(Player$player_name,Player$league_appearances)
#Create a new Data frame with relevant coloumns and rename it
colnames(league_appearances) <- c("player_name", "league_appearances")
league_appearances <- league_appearances %>% arrange(desc(league_appearances))
#Sort Data frame in Decreasing order
head(league_appearances, 10)
#List Top 10

   player_name           league_appearances
1  Gelson Fernandes      6
2  Filip Djuricic        5
3  Ricky van Wolfswinkel 5
4  Aleksandar Tonev      4
5  Alfred Finnbogason    4
6  Almen Abdi            4
7  Aly Cissokho          4
8  Angel Di Maria        4
9  Bojan Krkic           4
10 Bryan Ruiz            4

### Q5 Which are the top 10 teams by sum of build up play attributes?

In [8]:
buildUp_rating= data.frame(Team$team_long_name,Team$team_short_name,Team$buildUp_rating)
#Create a new Data frame with relevant coloumns and rename it
colnames(buildUp_rating) <- c("team_long_name","team_short_name", "buildUp_rating")
buildUp_rating <- buildUp_rating %>% arrange(desc(buildUp_rating))
#Sort Data frame in Decreasing order
head(buildUp_rating, 10)
#List Top 10

   team_long_name             team_short_name buildUp_rating
1  Torino                     TOR             209
2  Udinese                    UDI             205
3  Fortuna Düsseldorf         FDU             198
4  Podbeskidzie Bielsko-Biała POD             193
5  Korona Kielce              KKI             192
6  Carpi                      CAP             190
7  Widzew Łódź                LOD             190
8  Widzew Łódź                WID             190
9  FC Nantes                  NAN             189
10 Lazio                      LAZ             188

### Q6 Which are the top 10 teams by sum of chance creation attributes?

In [9]:
chance_rating = data.frame(Team$team_long_name,Team$team_short_name,Team$chance_rating)
#Create a new Data frame with relevant coloumns and rename it
colnames(chance_rating) <- c("team_long_name","team_short_name", "chance_rating")
chance_rating <- chance_rating %>% arrange(desc(chance_rating))
#Sort Data frame in Decreasing order
head(chance_rating, 10)
#List Top 10

   team_long_name          team_short_name chance_rating
1  Lazio                   LAZ             220
2  SV Werder Bremen        WBR             216
3  Napoli                  NAP             215
4  Manchester City         MCI             210
5  Tottenham Hotspur       TOT             210
6  Birmingham City         BIR             210
7  Wolverhampton Wanderers WOL             210
8  Burnley                 BUR             210
9  Swansea City            SWA             210
10 Queens Park Rangers     QPR             210

### Q7 Which are the top 10 teams by sum of defense attributes?

In [10]:
defence_rating = data.frame(Team$team_long_name,Team$team_short_name,Team$defence_rating)
#Create a new Data frame with relevant coloumns and rename it
colnames(defence_rating) <- c("team_long_name","team_short_name", "defence_rating")
defence_rating <- defence_rating %>% arrange(desc(defence_rating))
#Sort Data frame in Decreasing order
head(defence_rating, 10)
#List Top 10

   team_long_name          team_short_name defence_rating
1  Beerschot AC            BAC             210
2  KVC Westerlo            WES             210
3  Sporting Charleroi      CHA             210
4  West Bromwich Albion    WBA             210
5  Hull City               HUL             210
6  Birmingham City         BIR             210
7  Wolverhampton Wanderers WOL             210
8  Blackpool               BLA             210
9  Swansea City            SWA             210
10 Queens Park Rangers     QPR             210

### Q8 Which are the top 10 teams by number of scored goals?

In [11]:
team_goals = data.frame(Team$team_long_name,Team$team_short_name,Team$team_goals)
#Create a new Data frame with relevant coloumns and rename it
colnames(team_goals) <- c("team_long_name","team_short_name", "team_goals")
team_goals <- team_goals %>% arrange(desc(team_goals))
#Sort Data frame in Decreasing order
head(team_goals, 10)
#List Top 10

   team_long_name    team_short_name team_goals
1  FC Barcelona      BAR             849
2  Real Madrid CF    REA             843
3  Celtic            CEL             695
4  FC Bayern Munich  BMU             653
5  PSV               PSV             652
6  Ajax              AJA             647
7  FC Basel          BAS             619
8  Manchester City   MCI             606
9  Chelsea           CHE             583
10 Manchester United MUN             582